br{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */}

.Blackout_update{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgb(0, 0, 0);
    z-index:99;
    -webkit-animation:2s animation-fade forwards;
    animation:1s animation-fade forwards;
    pointer-events:none}

@keyframes animation-fade{
    0%{opacity:1}
    to{opacity:0}}

::-webkit-scrollbar{width: 10px;}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #adadad;}

.name{
    color: #ffffff;
    font-size: 50px;
    margin-top: 10px;
    cursor: default;}

.social{
    font-size: 30px;
    margin-top: 10px;}

.animation{
	color: #ffffff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    text-align:center}

.animation:after{
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 0;
    height: 5px;
    background-color: rgb(255, 255, 255);
    transition: width 0.1s;
    text-align:center}

.animation:hover:after{
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
    text-align:center}

.reserved{
    font-size: 14px;
    color: #ffffff;
    cursor: default;
    margin-top: 40px;}